<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h4>EduFuture</h4>
    <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon> </button>
    <button mat-button><mat-icon>home</mat-icon> Home</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [(opened)]="opened" mode="side" class="sidenav">
    <mat-list>
      <mat-list-item><a routerLink="/home" routerLinkActive="active-page"
          style="text-decoration: none;">Home</a></mat-list-item>
      <mat-list-item><a routerLink="/about" routerLinkActive="active-page"
          style="text-decoration: none;">About</a></mat-list-item>
      <mat-list-item><a routerLink="/contact" routerLinkActive="active-page"
          style="text-decoration: none;">Contact</a></mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>